In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [26]:
url = 'https://www.ccny.cuny.edu/registrar/fall'

In [27]:
response = requests.get(url)
html_doc = response.text
soup = BeautifulSoup(html_doc)
pretty_soup = soup.prettify()

In [ ]:
text = soup.find_all('table')
table = text[0]
contents = table.find_all('tr')

table_dict = {
    'date': [],
    'date_of_week': [],
    'main_text': [],
}

for row in contents:
    cells = row.find_all('td')
    if len(cells) >= 3: # just to avoid that first table row 
        date_text = cells[0].get_text(strip = True)
        dow_text = cells[1].get_text(strip = True)
        main_text = cells[2].get_text(strip = True)
        table_dict['date'].append(date_text)
        table_dict['date_of_week'].append(dow_text)
        table_dict['main_text'] .append(main_text)

In [83]:
df = pd.DataFrame(table_dict)
df.head(10)

,date,date_of_week,main_text
0,August 01,Sunday,Application for degree for January and Februar...
1,August 18,Wednesday,Last day to apply for Study Abroad
2,August 24,Tuesday,Last day of Registration;Last day to file ePer...
3,August 25,Wednesday,Start of Fall Term;Classes begin;Initial Regis...
4,August 25 - 31,Wednesday - Tuesday,Change of program period; late fees apply
5,August 26,Thursday,Last day for Independent Study
6,August 28,Saturday,First day of Saturday Classes
7,August 31,Tuesday,Last day to add a class to an existing enrollm...
8,September 01,Wednesday,Verification of Enrollment rosters available t...
9,September 03 - 08,Friday - Wednesday,No classes scheduled